In [45]:
import math
import numpy as np
import pandas as pd

Imagine you are on the equator. You go 1000 km to east then 1000km to north then 1000km to west then 1000km to south. Assuming earth is a perfect sphere and equator is 40000 km, how far from the original location (in kilometers) are you?

In [44]:
distance = 1000
circumference = 40000
radius = circumference / (2 * np.pi)
print("The radius is: ", radius)

theta = distance / radius
print("The angle is: ", theta)

area = 0.5 * radius * radius * np.sin(theta)
print("The area is:", area)

height = 2 * (area / radius)
print("The height is: ", height)

new_radius = (height / np.sin(theta)) * np.sin(np.pi/2 - theta)
print("The radius at the top is: ", new_radius)

new_theta = distance / new_radius
print("The angle", new_theta)

delta = new_theta - theta
print("The difference in angles is: ", delta)

answer = delta * radius
print("The answer is: ", answer, "km")

The radius is:  6366.197723675814
The angle is:  0.15707963267948966
The area is: 3170025.0320664207
The height is:  995.8927352435616
The radius at the top is:  6287.819265597909
The angle 0.15903765005957274
The difference in angles is:  0.0019580173800830825
The answer is:  12.4651257880026 km

Sports betting site gives you payouts for a football match.
❖ TeamA win -> 1.2
❖ Draw -> 19.2
❖ TeamB win -> 6.4
Given this information, what are expected probabilities:
● TeamA win
● Draw
● TeamB win
What is a betting site's profit margin (assuming it's equal for all outcomes)?

In [14]:
def implied_probability(payout):
    return 1 / payout

print("The probability that team a wins is: ", implied_probability(1.2))
print("The probability that it is a draw is: ", implied_probability(19.2))
print("The probability that team b wins is: ", implied_probability(6.4))

total_implied_probability = implied_probability(1.2) + implied_probability(19.2) + implied_probability(6.4)
betting_profit_margin = total_implied_probability - 1
print("The profit margin is: ", betting_profit_margin)

The probability that team a wins is:  0.8333333333333334
The probability that it is a draw is:  0.052083333333333336
The probability that team b wins is:  0.15625
The profit margin is:  0.04166666666666674

Take binance.com trading platform, ETH/USDT SPOT trading pair. What is the average trade price, weighted by ETH amount, in January 1st 2023 UTC time.
(hint: sum of first 8 digits after comma should be 37)

In [68]:
column_names = ["TradeID", "Price", "qty", "quoteQty", "time", "isBuyerMaker", "isBestMatch"]
df = pd.read_csv("/Users/luka/Downloads/ETHUSDT-trades-2023-01-01.csv", names=column_names)
df

,TradeID,Price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,1049568772,1196.13,0.0104,12.439752,1672531200000,True,True
1,1049568773,1196.13,0.0119,14.233947,1672531200007,True,True
2,1049568774,1196.13,0.0557,66.624441,1672531200008,True,True
3,1049568775,1196.13,0.0150,17.941950,1672531200008,True,True
4,1049568776,1196.14,0.0204,24.401256,1672531200009,False,True
...,...,...,...,...,...,...,...
233146,1049801918,1200.33,0.0444,53.294652,1672617599996,True,True
233147,1049801919,1200.33,0.0114,13.683762,1672617599997,True,True
233148,1049801920,1200.33,0.0142,17.044686,1672617599998,True,True
233149,1049801921,1200.34,0.0094,11.283196,1672617599998,False,True
233150,1049801922,1200.34,0.0116,13.923944,1672617599999,False,True

In [69]:
df["x"] = df["Price"] * df["qty"]

qty = df["qty"].sum()
x = df["x"].sum()
vwap = x/qty
print(vwap)

1197.4568590030158

In [60]:
df

Empty DataFrame
Columns: []
Index: []

Sum of all digits of all natural numbers [0; 10^12] inclusive.

In [42]:
def sum(last_number):
    return (last_number*(last_number+1))/2

sum = sum(10**12)
print("The sum of all numbers from 0 to 10^12 is: ", sum)

The sum of all numbers from 0 to 10^12 is:  5.000000000005e+23